DATABASE_URL=postgresql://user:password@host:5432/djangue
JWT_SECRET=djangue_secret_cambia_esto_minimo_32_chars
NODE_ENV=production
PORT=3000

# Twilio Verify
TWILIO_ACCOUNT_SID=AC6d388404a04cbbe1df9a91546d979ed8
TWILIO_AUTH_TOKEN=5f80bbe9817eb37c4db081af19f87fc2
TWILIO_VERIFY_SID=VAc5d8f5ea02b2b531593c1ff228c2a234
